body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #111827;
}

button:hover {
  background-color: #28eb25;
  transition: background-color 0.3s ease;
}

input:focus, select:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 1px #3b82f6;
}

#notification.opacity-0 {
  opacity: 0;
}

#nav-links {
  transition: max-height 0.4s ease, opacity 0.3s ease;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

#nav-links.open {
  max-height: 300px;
  opacity: 1;
}
#notification.opacity-100 {
  opacity: 1;
}